body {
    background-color: #000;
    color:#008000;
}
.border {
	border:2px dotted green;
	background: black;
	color: white;
}
.qborder{
	border:1px solid white;
	color: white;
}
.hidden{border-left: 5px dotted black;}
.white{color: white;}
.newnav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 5px;
  margin: 0;
}
.newnav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  text-decoration: none;
}
.newnav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color: black;
}
.newnav a:hover {
    decoration:none;

}
.newnav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
.profile {
    # this need to be positioned well

}
.history {
    # this need to be positioned well

}
.order {
    # this need to be positioned well

}