<!DOCTYPE html>
<html lang="en-gb">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="Description" content="Supply Chain on MaChain">
	<meta name="Keywords" content="18059659, Blockchain, Supply Chain">
	<meta name="Author" content="Maciej Poniewierski, 18059659">
	<link rel="stylesheet CSS" type="text/css" href="{{url_for('static', filename='styles.css')}}">
	<link rel="stylesheet CSS" type="text/css" href="{{url_for('static', filename='framework.css')}}">
	<link rel="stylesheet CSS" type="text/css" href="{{url_for('static', filename='mqueries.css')}}">
	<link rel="shortcut ICON" type="F-icon" href="{{url_for('static', filename='favicon.jpg')}}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>MaChain | Index </title>
</head>
