{% block nav %}
<header>
    <ul class="h5 topnav">
        <li onclick="window.location.href='{{url_for('add')}}';" class="w4 switch btn"><a>Add Order</a></li>
        <li onclick="window.location.href='{{url_for('history')}}';" class="w4 switch btn"><a>Order History</a></li>
        <li onclick="window.location.href='{{url_for('profile')}}';" class="w4 switch btn"><a>Account Info</a></li>
        <li class="w4 "><a></a></li>
        <li class="fr"><button class="switch btn border" onclick="window.location.href='{{url_for('out')}}';">Close X</button></li>
    </ul>
</header>
{%endblock%}