{% include "head.html" %}
<head>
	<title>MaChain | Register</title>
</head>
{% block body %}
	<header class="w24 h2 row"></header>
	<div class="w24 h20 txt-c">
		<form class="p-vlrg" action="/register" method="POST">
		  <input name="email" type="email" placeholder="Enter Username"  required>
		  <input name="ewallet" type="ewallet" placeholder="Enter E-Wallet"  required>
		  <input name="password" type="password" placeholder="Enter Password"  required>
		  <input name="password2" type="password" placeholder="Repeat Password"  required>
		  <button type="submit">Register</button>
		</form>
		<form action="/index" class="inline">
			<button>Login Here</button>
		</form>
	</div>
{%endblock%}
{% include "footer.html" %}
</html>